Repository mlengse/ghcvc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mlengse, @frontend-team, @backend-team, @database-team, @documentation-team, @qa-team, @security-team, @devops-team

.github/CODEOWNERS:

# This CODEOWNERS file defines who is responsible for code in the repository
# Each line is a file pattern followed by one or more owners

# These owners will be the default owners for everything in the repository
* @mlengse

# Infrastructure and configuration related files
*.yml @mlengse
*.yaml @mlengse
*.json @mlengse
*.config.js @mlengse
Dockerfile @mlengse
docker-compose.yml @mlengse
.github/* @mlengse

# Front-end code
/frontend/ @frontend-team
*.js @frontend-team
*.jsx @frontend-team
*.ts @frontend-team
*.tsx @frontend-team
*.css @frontend-team
*.scss @frontend-team
*.html @frontend-team

# Back-end code
/backend/ @backend-team
/api/ @backend-team
*.py @backend-team
*.java @backend-team
*.go @backend-team

# Database related files
/db/ @database-team
*.sql @database-team
**/migrations/ @database-team

# Documentation
/docs/ @documentation-team
*.md @documentation-team

# Tests
/tests/ @qa-team
**/*.test.js @qa-team
**/*.spec.js @qa-team
**/*_test.go @qa-team
**/*_test.py @qa-team

# Security sensitive areas require security team review
/security/ @security-team
**/auth/ @security-team
**/authentication/ @security-team
**/authorization/ @security-team

# Specific package files
package.json @devops-team
package-lock.json @devops-team
yarn.lock @devops-team
requirements.txt @devops-team
go.mod @devops-team
go.sum @devops-team

Add initial README.md with GitHub Copilot customization instructions and repository structure
  README.md
Owners: @documentation-team

Add usage instructions for GitHub Copilot as a submodule in README.md
  README.md
Owners: @documentation-team

feat: Add comprehensive style guides and instructions for multiple programming languages and frameworks
  CODEOWNERS
  chatmodes/bahasa-indonesia.chatmode.md
  chatmodes/code-review.chatmode.md
  chatmodes/development.chatmode.md
  chatmodes/planning.chatmode.md
  chatmodes/repo-custom.chatmode.md
  copilot-instructions.md
  instructions/agent-mode.instructions.md
  instructions/bahasa-indonesia.instructions.md
  instructions/dart.instructions.md
  instructions/flutter.instructions.md
  instructions/go.instructions.md
  instructions/java.instructions.md
  instructions/javascript.instructions.md
  instructions/kotlin.instructions.md
  instructions/nextjs.instructions.md
  instructions/python.instructions.md
  instructions/react.instructions.md
  instructions/rust.instructions.md
  prompts/analyze-repo-generate-instructions.prompt.md
  prompts/create-api-endpoint.prompt.md
  prompts/create-custom-chatmode.prompt.md
  prompts/create-custom-prompt.prompt.md
  prompts/dokumentasi-indonesia.prompt.md
  prompts/generate-architecture-instructions.prompt.md
  prompts/generate-documentation.prompt.md
  prompts/generate-tests.prompt.md
  prompts/review-kode-indonesia.prompt.md
  prompts/security-review.prompt.md
  prompts/terjemahan-error.prompt.md
Owners: @mlengse, @documentation-team

feat: Add legacy PHP maintenance chat mode, PHP instructions, and bugfix prompt templates
  chatmodes/legacy-php-maintenance.chatmode.md
  instructions/php.instructions.md
  prompts/legacy-php-bugfix.prompt.md
Owners: @documentation-team

feat: Add comprehensive component architecture instructions for SIMPUS Next.js frontend
  chatmodes/legacy-php-maintenance.chatmode.md
  prompts/legacy-php-bugfix.prompt.md
Owners: @documentation-team

feat: Add comprehensive component architecture instructions for SIMPUS Next.js frontend
  simpus/chatmodes/devops-engineer.chatmode.md
  simpus/chatmodes/legacy-php-maintenance.chatmode.md
  simpus/chatmodes/modernization-architect.chatmode.md
  simpus/instructions/clean-architecture-go.instructions.md
  simpus/instructions/component-architecture-nextjs.instructions.md
  simpus/prompts/legacy-migration-analysis.prompt.md
  simpus/prompts/legacy-php-bugfix.prompt.md
Owners: @documentation-team

feat: Add VSCode configuration template and comprehensive .gitignore for multiple languages
  .gitignore
  .vscode/README.md
  .vscode/settings.json
  README.md
Owners: @mlengse, @documentation-team

feat: Add VSCode configuration template and comprehensive .gitignore for multiple languages
  .gitignore
  .vscode/README.md
  .vscode/settings.json
  README.md
Owners: @mlengse, @documentation-team

refactor: Clean up commented-out GitHub Copilot settings in VSCode configuration
  .vscode/settings.json
Owners: @mlengse

refactor: Clean up commented-out GitHub Copilot settings in VSCode configuration
  .vscode/settings.json
Owners: @mlengse

refactor: Comment out GitHub Copilot settings and add empty instruction and prompt files
  .vscode/settings.json
  chatmodes/modernization-architect.chatmode.md
  instructions/clean-architecture-go.instructions.md
  instructions/component-architecture-nextjs.instructions.md
  prompts/legacy-migration-analysis.prompt.md
Owners: @mlengse, @documentation-team

refactor: Comment out GitHub Copilot settings and add empty instruction and prompt files
  .vscode/settings.json
  chatmodes/modernization-architect.chatmode.md
  instructions/clean-architecture-go.instructions.md
  instructions/component-architecture-nextjs.instructions.md
  prompts/legacy-migration-analysis.prompt.md
Owners: @mlengse, @documentation-team

feat: Add SIMPUS Puskesmas custom instructions and update .gitignore for project structure
  .gitignore
  copilot-instructions-modern.md
Owners: @mlengse, @documentation-team

feat: Add SIMPUS Puskesmas custom instructions and update .gitignore for project structure
  .gitignore
  copilot-instructions-modern.md
Owners: @mlengse, @documentation-team

Remove outdated documentation and prompts for legacy migration and bugfix processes in SIMPUS, including component architecture instructions for Next.js frontend development.
  simpus/chatmodes/devops-engineer.chatmode.md
  simpus/chatmodes/legacy-php-maintenance.chatmode.md
  simpus/chatmodes/modernization-architect.chatmode.md
  simpus/instructions/clean-architecture-go.instructions.md
  simpus/instructions/component-architecture-nextjs.instructions.md
  simpus/prompts/legacy-migration-analysis.prompt.md
  simpus/prompts/legacy-php-bugfix.prompt.md
Owners: @documentation-team

refactor: Remove legacy migration analysis prompt file
  prompts/legacy-migration-analysis.prompt.md
Owners: @documentation-team

refactor: Remove obsolete configuration and documentation files for GitHub Copilot and update templates for chat modes and instructions
  .vscode/README.md
  .vscode/settings.json
  chatmodes/bahasa-indonesia.chatmode.md
  chatmodes/code-review.chatmode.md
  chatmodes/development.chatmode.md
  chatmodes/planning.chatmode.md
  chatmodes/repo-custom.chatmode.md
  copilot-instructions.md
  templates/chatmode.template.md
  templates/copilot-instructions.md
  templates/instructions.template.md
  templates/prompt.template.md
Owners: @documentation-team, @mlengse

refactor: Remove generate documentation prompt file to streamline project resources
  prompts/generate-documentation.prompt.md
Owners: @documentation-team

refactor: Update mode in dokumentasi-indonesia prompt from "ask" to "agent"
  prompts/dokumentasi-indonesia.prompt.md
Owners: @documentation-team

refactor: Change mode from "ask" to "agent" in multiple prompt files for consistency
  chatmodes/repo-custom.chatmode.md
  prompts/analyze-repo-generate-instructions.prompt.md
  prompts/create-custom-chatmode.prompt.md
  prompts/create-custom-prompt.prompt.md
  prompts/generate-architecture-instructions.prompt.md
  prompts/review-kode-indonesia.prompt.md
  prompts/terjemahan-error.prompt.md
Owners: @documentation-team

refactor: Change mode from "ask" or "edit" to "agent" in multiple prompt files for consistency
  prompts/analyze-repo-generate-instructions.prompt.md
  prompts/create-api-endpoint.prompt.md
  prompts/create-custom-chatmode.prompt.md
  prompts/create-custom-prompt.prompt.md
  prompts/generate-architecture-instructions.prompt.md
  prompts/generate-tests.prompt.md
  prompts/review-kode-indonesia.prompt.md
  prompts/security-review.prompt.md
  prompts/terjemahan-error.prompt.md
  templates/chatmode.template.md
  templates/prompt.template.md
Owners: @documentation-team

chore: Add .blackboxrules file to define blackbox testing rules
  .blackboxrules
Owners: @mlengse

refactor: Update tool references in chatmode and prompt templates for consistency
  chatmodes/code-review.chatmode.md
  chatmodes/development.chatmode.md
  chatmodes/planning.chatmode.md
  chatmodes/repo-custom.chatmode.md
  copilot-instructions.md
  instructions/agent-mode.instructions.md
  instructions/bahasa-indonesia.instructions.md
  prompts/analyze-repo-generate-instructions.prompt.md
  prompts/create-custom-chatmode.prompt.md
  prompts/create-custom-prompt.prompt.md
  prompts/generate-architecture-instructions.prompt.md
  templates/chatmode.template.md
  templates/copilot-instructions.md
  templates/prompt.template.md
Owners: @documentation-team

Update coding instructions and templates for various programming languages
  chatmodes/code-review.chatmode.md
  chatmodes/development.chatmode.md
  chatmodes/planning.chatmode.md
  chatmodes/repo-custom.chatmode.md
  instructions/agent-mode.instructions.md
  instructions/bahasa-indonesia.instructions.md
  instructions/dart.instructions.md
  instructions/flutter.instructions.md
  instructions/go.instructions.md
  instructions/java.instructions.md
  instructions/javascript.instructions.md
  instructions/kotlin.instructions.md
  instructions/nextjs.instructions.md
  instructions/php.instructions.md
  instructions/python.instructions.md
  instructions/react.instructions.md
  instructions/rust.instructions.md
  prompts/analyze-repo-generate-instructions.prompt.md
  prompts/create-api-endpoint.prompt.md
  prompts/create-custom-chatmode.prompt.md
  prompts/create-custom-prompt.prompt.md
  prompts/dokumentasi-indonesia.prompt.md
  prompts/generate-architecture-instructions.prompt.md
  prompts/generate-tests.prompt.md
  prompts/review-kode-indonesia.prompt.md
  prompts/security-review.prompt.md
  prompts/terjemahan-error.prompt.md
  templates/chatmode.template.md
  templates/instructions.template.md
Owners: @documentation-team

refactor: Remove outdated related instructions from chatmode files for clarity
  chatmodes/code-review.chatmode.md
  chatmodes/development.chatmode.md
  chatmodes/planning.chatmode.md
Owners: @documentation-team

feat: Add comprehensive architecture instructions for PWA and WASM integration
  instructions/ghcvc.instructions.md
  instructions/pwa.instructions.md
  instructions/wasm.instructions.md
Owners: @documentation-team

fix: Update default language instructions and enhance architecture principles
  copilot-instructions.md
Owners: @documentation-team

refactor: Remove GHCVC Copilot instructions for project clarity
  instructions/ghcvc.instructions.md
Owners: @documentation-team

refactor: Remove outdated agent mode and Bahasa Indonesia instructions for project clarity
  instructions/agent-mode.instructions.md
  instructions/bahasa-indonesia.instructions.md
Owners: @documentation-team

refactor: Remove outdated chatmode files for project clarity and maintenance
  chatmodes/code-review.chatmode.md
  chatmodes/development.chatmode.md
  chatmodes/planning.chatmode.md
  chatmodes/repo-custom.chatmode.md
Owners: @documentation-team
